body{
    margin: 0;
    font-family:Helvetica, sans-serif;
    background-color: rgb(128, 211, 207);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
    background-color: rgba(0, 0, 0, 0.588);
    color: white;
    opacity: 70%;
    animation-name: bg_change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    
}
#nav_1 li{
    margin-right: 15px;
    transition: scale 0.3s;
}
#nav_1 li button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav_2 li{
    transition: scale 0.3s;
    cursor: pointer;
}
#nav_2 li img{
    transition: scale 0.3s;
    width: 20px;
    height: 20px;
    margin: 10px;
}
#nav_1 button{
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
#nav_1 li:hover{
    scale:1.3;
}
nav li img:hover{
    box-shadow: white 0px 0px 5px;
    scale: 1.5;
    border-radius: 10px;
}

#home_btn{
    text-decoration: none;
    color: black;
}
#clock_container {
    width: 45%;
    height: 45%;
    /* border: solid red; */
    position: relative;
    display: flex;
    margin: auto;

}

#clock_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}
#clock_container .hands{
    transform-origin: bottom;
    border-radius: 50%;
    background-color: black;
    z-index: 1;
    position: absolute;
}
#clock_container #hour {
    width: 0.8%;
    height: 10%;
    right: 49.7%;
    top: 40%;
}

#clock_container #minute {
    width: 0.5%;
    height: 13%;
    right: 49.8%;
    top: 37%;
}

#clock_container #second {
    width: 0.2%;
    height: 17%;
    right: 49.9%;
    top: 33%;
    background-color: red;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2px;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    font-size: small;
}

video{
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 90%;
    min-width: 100%;
    min-height: 100%;
    display: none;
}
#landscape{
    display: none;
}

@keyframes fade-out {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
@keyframes bg_change {
    from {
        -webkit-filter: drop-shadow(10px 15px 50px #ffffff8a);
    }

    to {

        -webkit-filter: drop-shadow(15px 5px 50px #8fe7ff7b);
    }
}
@media (max-width:780px){
    #footer{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    video{
        position: absolute;
        /* transform: rotate(90deg); */
        width: 100vh;
        height: 100vw;
        object-fit:cover;
        z-index: -100;
        visibility: visible;
        justify-self: center;
    }
    #landscape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fade-out 15s;
        animation-fill-mode: forwards;
    }
    /* body{
        overflow-y: hidden;
    } */
}
@media (orientation:landscape){
    #landscape{
        display: none;
    }
}
@media (max-width:580px){
    nav{
        flex-wrap: wrap;
    }
}
@media(max-width:300px){
    nav #nav_1{
        flex-wrap: wrap;
    }
}